body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
    background-color: gray;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}


body.dark {
    background-color: #222;
    color: white;
}